@tailwind base;
@tailwind components;
@tailwind utilities;

/* when clicking a link, make page scroll smoothly */
/* not working on mobile or desktop but works on laptop */
html {
    scroll-behavior: smooth;
}

@layer components{
    .btn{
        @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-md;
    }
    .badge {
        @apply bg-darkBlue text-gray-100 font-bold rounded-full absolute top-0 ml-2 mt-2 inline-flex items-center p-2
    }
}
#arrow {
    animation: jump 0.5s forwards ease-in-out infinite alternate;
}
@keyframes jump {
    to {
        transform: translateY(5px);
    }
}
#wave {
    /* need display for css on span */
    display: inline-block;
    animation: wave 2.5s forwards ease-in-out infinite alternate;
}
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* animation that rotates github icon around */
.fa-github {
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}