:root {
    --white: #f0f0f0;
    --red: #be3144;
    --blue: #45567d;
    --gray: #303841;
}
* {
    margin: 0;
    padding: 0;
}
/* all text becomes modified */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--white);
}
h1, p {
    font-weight: 700;
    text-align: center;
}
h1 {
    font-size: 5rem;
}
/* the whole navbar becomes red, move links inside nav bar, box shadow on bottom border */
.nav {
    display: flex;
    justify-content: flex-end; /* moves links to right side */
    background: var(--red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); 
    position: fixed;
    width: 100%;
}
/* puts links on one line */
.nav-list {
    display: flex;
}
/* make links bigger and space out, what does block do? */
.nav-list a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
}
.nav-list a:hover {
    background: var(--blue);
}
/* get rid of bullets */
ul {
    list-style: none;
}
/* get rid of underline, change text to white */
a {
    text-decoration: none;
    color: var(--white);
}
/* gray linear gradient bg, text is centered,  */
#about {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    height: 100vh;
    width: 100%;
} 
#about>p {
    color: var(--red);
    font-size: 3rem;
}



/* projects */
#projects {
    background: var(--blue);
    padding: 2rem 1rem;
    text-align: center;
}
.projects-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--white);
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.project {
    background: var(--gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.code {
    color: var(--gray);
    transition: color 0.3s ease-out;
}

.project:hover .code {
    color: #ff7f50;
}
.project-image {
    height: calc(100% - 9rem);
    width: 100%;
    object-fit: cover;
}
.project-name {
    font-size: 2rem;
    padding: 1rem 0.5rem
}







/* contact */
#contact {
    background: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh;
}
.contact-header>h2 {
    font-size: 6rem;
}
.contact-header {
    margin-bottom: 4rem;
}
/* the container containing a links need to be display flex for transitions to work */
/* flex wrap moves elements to next row if cant fit */
.contact-links {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    justify-content: center;
}
.contact-details {
    font-size: 40px;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    padding: 20px;
}
.contact-details:hover {
    transform: translateY(8px);
}
footer {
    border-top: solid 4px var(--red);
    width: 100%;
    padding: 1rem 0;
    background: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}