html {
    font-size: 100%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}
.profile-img {
    border-radius: 15px;
    width: 500px;
}

.tech-text {
    font-weight: 600;
}
.icon {
    font-size: 50px;
}
.icon-small {
    font-size: 40px;
}
@media screen and (max-width: 590px) {
    .tech-text {
        font-size: 12px;
    }
    .icon {
        font-size: 24px;
    }
}
.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
}
#comments {
    height: 200px;
}
.contact-left {
    width: 500px;
}
.projects-arrow {
    position: absolute;
    margin-top: 80vh;
}
.projects-arrow a {
    text-decoration: none;
    color: white;
}
.arrow {
    animation: jump 0.5s forwards ease-in-out infinite alternate;
}
#projects {
    width: 100%;
}
@keyframes jump {
    to {
        transform: translateY(5px);
    }
}
.wave {
    /* need display for css on span */
    display: inline-block;
    animation: wave 2.5s forwards ease-in-out infinite alternate;
}
@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    }
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.fa-github {
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

